.currency-tag {
    display: inline;
    background: -webkit-linear-gradient(rgba(0,128,0,0.8), rgba(0,255,0,0.8));
    background: -o-linear-gradient(rgba(0,128,0,0.8), rgba(0,255,0,0.8));
    background: -moz-linear-gradient(rgba(0,128,0,0.8), rgba(0,255,0,0.8));
    background: linear-gradient(rgba(0,128,0,0.8), rgba(0,255,0,0.8));
    border-radius: 3px;
    border: 1px solid #004400;
    padding: 2px 0px;
}

#conversion-popup {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 10px #888888;
    background: #FFFFFF;
    position: fixed;
    padding: 10px;
    border: 1px solid #888888;
    left: 1%;
    top: 1%;
    width: 150px;
}

#conversion-popup div {
    text-align: right;
}